<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
</ion-header>

<ion-content>
<div padding> My Profile</div>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
    <ion-input placeholder="Param..."><ion-toggle slot="end"></ion-toggle></ion-input>
</ion-content>
