<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar>
                    <ion-title>User Profile</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/profil">
                            <ion-avatar>
                                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741" alt="Profile">
                            </ion-avatar>
                            <ion-label>&nbsp;&nbsp;Profile</ion-label>
                        </ion-item>
                        <ion-item-group>
                            <ion-item-divider color="tertiary" style="margin: 0 auto">SETTINGS</ion-item-divider>
                            <ion-list *ngFor="let setting of settings">
                                <ion-item routerLink="{{setting.url}}">
                                    <ion-label>{{setting.title}}</ion-label>
                                    <ion-icon *ngIf="setting.icon !== ''" name="{{setting.icon}}" slot="start"></ion-icon>
                                    <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
                                </ion-item>
                                <!--<ion-item button">
                                    <ion-label>{{setting.title}}</ion-label>
                                    <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
                                </ion-item>-->
                            </ion-list>
                        </ion-item-group>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
