<ion-header>
    <ion-toolbar>
        <ion-title>Data protection</ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
        <p><span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab architecto aut deleniti dicta earum esse et
            facilis illo ipsam laborum, magnam minus nam pariatur placeat qui quos sit, tenetur.
        </span>
            <span>
                Fugiat, iure saepe. Commodi consequuntur doloribus esse facere hic ipsa minima neque non numquam sint tempore tenetur ullam, voluptate. Adipisci blanditiis commodi enim illo obcaecati perspiciatis praesentium quas sequi tenetur.
            </span>
            <span>Animi beatae dolores earum est expedita non voluptatem! Aspernatur hic maiores placeat quam ratione voluptatum! Architecto blanditiis commodi consectetur dignissimos, dolore doloremque magni, minus odio quaerat, rerum sint vel voluptatem.
            </span>
            <span>Aperiam cupiditate fuga, impedit molestiae perspiciatis praesentium quis similique tempora? Ad alias at neque vitae voluptates? Culpa explicabo fuga in, iure necessitatibus, non nostrum optio placeat porro quidem, sunt veniam.
            </span>
            <span>Ad architecto aspernatur dicta dignissimos distinctio dolore dolorem eligendi est itaque iure libero minima, minus molestias natus, odio officiis porro praesentium repellat saepe sint. Corporis culpa expedita explicabo facilis sit?
            </span>
            <span>Alias, autem beatae consectetur consequatur cumque dolor dolore dolorem dolores ea eos error esse eum minus nihil, odio porro qui sapiente tempore tenetur voluptate. At aut deleniti distinctio odio repellendus.
            </span>
            <span>Aliquam aperiam at earum enim explicabo in, inventore, iusto maxime molestias nemo nesciunt nisi quos, voluptatem! Ad aliquam dolor illum inventore ipsa mollitia nobis, praesentium, provident, quaerat quia reiciendis voluptatibus.
            </span>
            <span>Adipisci asperiores aut beatae, blanditiis consequatur dolorem doloremque error exercitationem fugiat id laborum minus molestiae neque perspiciatis, quas quia, quis quo repellendus ut vitae. Architecto delectus numquam quam tenetur? Dolores.
            </span>
        </p>
    </div>
</ion-content>
