<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button id="mysearch" tab="search" selected>
            <ion-icon name="search"></ion-icon>
            <ion-label>search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favourites">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>favourites</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="messages">
            <ion-icon name="mail"></ion-icon>
            <ion-label>messages</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="announcements">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>announcement</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
