<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Todos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <p padding>Me, i and myself</p>
    <ion-list>
        <ion-item *ngFor="let todo of this.todos">
            <ion-card>
                <!--<img src="{{apartment}}" alt="BLANK">-->
                <ion-card-content>
                    <ion-card-title>"Todo"</ion-card-title>
                    <p>{{todo.task}}</p>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
